
@import "voxcivica/_colors.scss";
@import "voxcivica/_fonts.scss";
@import "voxcivica/_custom_navbar.scss";
@import "voxcivica/_tagline.scss";
@import "voxcivica/_seccion_home.scss";
@import "voxcivica/_seccion_que-es.scss";
@import "voxcivica/_seccion_equipo.scss";
@import "voxcivica/_seccion_acciones.scss";
@import "voxcivica/_seccion_asociarse-y-o-donar.scss";
@import "voxcivica/_seccion_contacto.scss";
@import "voxcivica/_footer.scss";
@import "voxcivica/_legal.scss";

body{
  padding-bottom: 200px;
}

a:hover {
  text-decoration: none;
}