#contacto {
  padding-bottom: 200px;
  .title {
    text-transform: uppercase;
    @include oswald-light;
    font-size: 30px;
    background-color: $azul;
    color: $blanco;
    padding: 10px 0 10px 35px;
    margin: 10px 0 60px 0;
  }
  .help-inline {
    @include opensans-light-italic;
    font-size: 16px;
    margin-bottom: 9px;
  }
  label{
    @include oswald-regular;
    font-size: 20px;
    text-transform: uppercase;
  }
  input, textarea {
    @include oswald-light;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 20px;
  }
  input {
    height: 20px;
  }
  textarea {
    height: 200px;
  }
  button[type=submit] {
    display: inline-block;
    background-color: $azul;
    padding: 10px;
    @include oswald-light;
    font-size: 40px;
    color: $blanco;
    text-transform: uppercase;
    border: 0;
    line-height: 40px;
    margin-top: 30px;
    &:hover {
      background-color: $verde;
    }
  }
  .tos {
    @include opensans-light;
    text-transform: none;
  }
  .resultado {
    @include oswald-light;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 200px 0;
    text-transform: uppercase;
  }

}

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline,
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: $verde;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: $verde;
}