#que-es {
  .title {
    text-transform: uppercase;
    @include oswald-light;
    font-size: 30px;
    background-color: $lila;
    color: $blanco;
    padding: 10px 0 10px 35px;
  }
  .intro {
    @include oswald-regular;
    font-size: 25px;
    //@include hyphenation;
    line-height: 35px;
    margin: 30px 0 0;
  }
  h2 {
    @include oswald-light;
    font-size: 25px;
    display: inline-block;
    color: $blanco;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 50px 0 20px;
    &.first {
      background-color: $naranja;
    }
    &.second {
      background-color: $azul;
    }
    &.third {
      background-color: $verde;
    }
  }
  p {
    @include opensans-light;
    font-size: 18px;
    //@include hyphenation;
    line-height: 30px;
    &.resaltado {
      @include opensans-semibold;
    }
  }

}