#equipo {
  margin-bottom: 60px;
  .intro {
    @include oswald-light;
    font-size: 30px;
    //@include hyphenation;
    line-height: 35px;
    margin: 30px 0 0;
    & strong {
      @include oswald-regular;
    }
  }
  h1 {
    @include oswald-light;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
  }
  .miembro {
    width: 220px;
    height: 220px;
    margin-top: 20px;
    color: $blanco;
    cursor: pointer;
    .pie-de-foto {
      margin-top: 150px;
      background-color: $azulTransparente;
      .nombre {
        @include oswald-light;
        font-size: 23px;
        text-transform: uppercase;
        margin: 10px 0 0 10px;
      }
      .cargo {
        @include opensans-light;
        font-size: 14px;
        margin: 0 0 0 10px;
        padding: 0 0 10px 0;
        display: block;
      }
    }
    &:hover .pie-de-foto {
      background-color: $lilaTransparente;
    }
    &.asesor .pie-de-foto {
      margin-top: 180px;
      background-color: $verdeTransparente;
    }
    &.asesor:hover .pie-de-foto {
      background-color: $naranjaTransparente;
    }
  }
  #miembro-aje-arruti { background-image: url("/images/fotos/retrato_aje-arruti.jpg"); }
  #miembro-edurne-ormazabal { background-image: url("/images/fotos/retrato_edurne-ormazabal.jpg"); }
  #miembro-karmele-setien { background-image: url("/images/fotos/retrato_karmele-setien.jpg"); }
  #miembro-graciela-imaz { background-image: url("/images/fotos/retrato_graciela-imaz.jpg"); }
  #miembro-igor-calzada { background-image: url("/images/fotos/retrato_igor-calzada.jpg"); }
  #miembro-inigo-blanco { background-image: url("/images/fotos/retrato_inigo-blanco.jpg"); }
  #miembro-inigo-kortabitarte { background-image: url("/images/fotos/retrato_inigo-kortabitarte.jpg"); }
  #miembro-jorge-campanillas { background-image: url("/images/fotos/retrato_jorge-campanillas.jpg"); }
  #miembro-josu-aramberri { background-image: url("/images/fotos/retrato_josu-aramberri.jpg"); }
  #miembro-juanjo-azcarate { background-image: url("/images/fotos/retrato_juanjo-azcarate.jpg"); }
  #miembro-kepa-korta { background-image: url("/images/fotos/retrato_kepa-korta.jpg"); }
  #miembro-maite-goni { background-image: url("/images/fotos/retrato_maite-goni.jpg"); }
  #miembro-miren-gutierrez { background-image: url("/images/fotos/retrato_miren-gutierrez.jpg"); }
  #miembro-pomen-jin { background-image: url("/images/fotos/retrato_pomen-jin.jpg"); }
  #miembro-ramon-santamaria { background-image: url("/images/fotos/retrato_ramon-santamaria.jpg"); }
  #miembro-tim-smithers { background-image: url("/images/fotos/retrato_tim-smithers.jpg"); }
  #miembro-xabier-de-la-maza { background-image: url("/images/fotos/retrato_xabier-de-la-maza.jpg"); }
  #miembro-guillermo-gutierrez { background-image: url("/images/fotos/retrato_guillermo-gutierrez.jpg"); }
  #miembro-jose-maria-gasalla { background-image: url("/images/fotos/retrato_jose-maria-gasalla.jpg"); }
  #miembro-paul-mockapetris { background-image: url("/images/fotos/retrato_paul-mockapetris.jpg"); }
  #miembro-francisco-polo { background-image: url("/images/fotos/retrato_francisco-polo.jpg"); }
  #miembro-andy-stalman { background-image: url("/images/fotos/retrato_andy-stalman.jpg"); }
  #miembro-dolors-reig { background-image: url("/images/fotos/retrato_dolors-reig.jpg"); }
}

.popover {
  background-color: $verde;
  border: 0;
  color: $blanco;
  width: 400px;
  .arrow {
    border-right-color: $verde !important;
    border-left-color: $verde !important;
  }
  .nombre {
    @include oswald-light;
    font-size: 23px;
    text-transform: uppercase;
    margin: 0 0 0 0;
  }
  .cargo {
    @include opensans-light;
    font-size: 14px;
    margin: 0 0 10px 0;
    display: block;
  }
  .bio {
    @include opensans-light;
    font-size: 18px;
    margin-bottom: 40px;
    //@include hyphenation;
  }
  a:hover {
    text-decoration: none;
  }
  .link {
    margin-right: 10px;
  }
  .twitter {
    width: 42px;
    height: 29px;
    display: inline-block;
    background-image: url("/images/twitter_bocadillo.png");
    &:hover {
      background-image: url("/images/twitter_bocadillo_hover.png");
    }
  }
  .blog {
    width: 45px;
    height: 34px;
    display: inline-block;
    background-image: url("/images/blog_bocadillo.png");
    &:hover {
      background-image: url("/images/blog_bocadillo_hover.png");
    }
  }
  .linkedin {
    width: 31px;
    height: 31px;
    display: inline-block;
    background-image: url("/images/linkedin_bocadillo.png");
    &:hover {
      background-image: url("/images/linkedin_bocadillo_hover.png");
    }
  }

}